html {
    font-size: 10px;
}
body {
    max-height: 100vh;
    max-width: 100vw;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.welcome-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url("../images/starter.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 4rem;
}



.welcome-component {
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    font-size: 3rem;
    font-weight: 700;
    color: #000;
    border-radius: 30px;
    padding: 2rem;
    width:50rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 2rem;
    text-align: center;
}
.welcome-component:hover {
    cursor: crosshair;
}
select {
    background-color: none;
    padding: 0.5rem;
    font-size: 1.5rem;
    font-weight: 700;
}
input {
    background: none;
    outline: none;
    border: 2px solid #0079b9;
    border-radius: 1rem;
    padding: 0.5rem;
    font-size: 2rem;
    
}
.bird-container {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5rem;
    text-align: center;
}
.bird-img {
    width: 100px;
}
.start-button {
    background-image: linear-gradient(to left bottom, #cfcfcf, #b6b4c3, #9b9bb7, #7e82ab, #5f6ba0, #506fa9, #3a74b2, #0079b9, #009ad1, #00bbe1, #05dbec, #5ffbf1);
    padding: 1rem 3rem;
    position: relative;
    overflow: hidden;
    border-radius: 1.5rem;
    transition: all 0.8s;
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
    color:#000;
}
.start-button::before {
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: -150%;
    position: absolute;
    background-color: #eee;
    transform: skewX(35deg);
    transition: all 0.8s;
    opacity: 0.8;
}
.start-button:hover {
    cursor: pointer;
    transform: translateY(-1rem);
    box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.6);
}
.start-button:hover::before {
    left: 200%;
}
